/* Copyright 2015 Jules and Theo Zimmermann
   All rights reserved
**/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
}

header {
  height: 8%;
  background-color: rgb(213,255,213);
  font-family: cursive;
}

header h1 {
  display: inline;
  margin-left: 1%;
  font-size: 20px;
}

header h2 {
  display: inline;
  margin-left: 1%;
  font-size: 15px;
}

header a {
  text-decoration: none;
  color: black;
}

header .menu {
  float: right;
  margin-left: 10%;
  margin-right: 2%;
  margin-top: 1%;
  font-size: 20px;
  color: #bbb;
}

header .menu:hover {
  color: black;
}

#text {
  float: left;
  width: 56%;
  margin: 1%;
  height: 84%;
}

#text > textarea, #text > p {
  margin: 0;
  border: solid #ccc;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: cursive;
  font-size: 16px;
  overflow: scroll;
}

.ui-dialog, .ui-dialog button, #edits {
  font-family: monospace;
  font-size: 14px;
}

#edits {
  float: right;
  width: 36%;
  margin: 1%;
  height: 84%;
  padding: 10px;
  border: solid #eee;
  background-color: white;
  overflow: scroll;
}

#edits button {
  font-family: inherit;
}

#propose {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 10px;
}

button.active {
  border-style: inset;
}

ins {
  background-color: rgb(213,255,213);
}

del {
   background-color: #ffe6e6;
}
